<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/login.css">
      <title>CMSR-Sistema Control de Aportes y Contribuciones</title>
  </head>
  <body>
      <div class="body"></div>
     
      <div class="grad"></div>
      
      <div class="header">
              
        <img src="/img/logo-osmedica.jpeg" alt="logo">
      </div>
      <br>
      <form name="login"> 
      <div class="login">
          <input type="text" placeholder="username" name="usuario" value ="" required><br>
          <input type="password" placeholder="password" name="password" value ="" required><br>
          
          <input value="Entrar" target="_parent" onclick="Login()" type="button" class="boton"/> 
      </div>
    </form>
  </body>
  
  
  </html>  
